[submodule "users-ms"]
	path = users-ms
	url = https://github.com/transport-saas-ms/users-ms.git
[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/transport-saas-ms/client-gateway.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/transport-saas-ms/auth-ms.git
[submodule "trips-ms"]
	path = trips-ms
	url = https://github.com/transport-saas-ms/trips-ms.git
